.verify-container {
  display: flex;
  height: 100vh;
  background-color: #E5E7EB; /* Lighter background */
}

.left-column {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #0F172A, #fff 0%); /* Deep blue gradient */
  position: relative;
  overflow: hidden;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.background-image {
  max-width: 80%; /* Adjust the size of the image */
  max-height: 80%; /* Adjust the size of the image */
  object-fit: contain; /* Ensures the image is fully visible and centered */
  border-radius: 12px; /* Optional: Adds rounded corners to the image */
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3); /* Optional: Adds a subtle shadow */
}

.right-column {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.form-wrapper {
  background-color: white; 
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

.form-title {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #0F172A;
}

.verify-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.verify-input,
.verify-textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd; 
  border-radius: 6px;
  font-size: 1rem;
  color: #333;
  transition: border-color 0.3s;
}

.verify-input:focus,
.verify-textarea:focus {
  border-color: #dd841a; /* Highlight border on focus */
}

.verify-textarea {
  resize: none;
  height: 80px;
}

.verify-button {
  padding: 14px;
  background-color: #0F172A;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.verify-button:hover {
  background-color: #dd841a;
}

.verify-notification {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: green;
}

.verify-notification.error {
  color: red;
}

.verify-select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  color: #333;
  transition: border-color 0.3s;
}

.verify-select:focus {
  border-color: #dd841a; /* Highlight border on focus */
}
